@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(-45deg, #212529, #6c757d, #212529);
	background-size: 200% 200%;
	animation: gradient 15s ease infinite;
  background-position: top;
}

.wrapper {
  max-width: 300px;
  border-radius: 8px;
  padding: 20px;
  background-color: #212529;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  color: #f8f9fa;
}

header h1 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

header p {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 200;
  color: #dee2e6;
  text-align: center;
}

.inputs {
  margin: 20px 0 27px;
}
.inputs input {
  width: 100%;
  height: 60px;
  outline: none;
  font-size: 19px;
  padding: 0 17px;
  border-radius: 5px;
  border: 1px solid #999;
}

.inputs input:focus {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}

.inputs button {
  width: 100%;
  height: 60px;
  opacity: 0.7;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  font-size: 17px;
  border-radius: 5px;
  pointer-events: none;
  background-color: #adb5bd;
  
}

.inputs button.active {
  opacity: 1;
  pointer-events: auto;
  animation: opacity 250ms ease;
}

.info-txt {
  display: none;
  font-size: 16px;
  text-align: center;
  margin-bottom: 5px;
}

.info-txt span {
  color: #f8f9fa;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes opacity {
  0% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}